<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>wado</display-name>
  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>it.units.htl.wado.WADOServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DicomDirWriter</servlet-name>
    <servlet-class>it.units.htl.wado.DicomDirWriter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchService</servlet-name>
    <servlet-class>eu.o3c.o3e.dpacs.services.SearchServices</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PatientInfoServices</servlet-name>
    <servlet-class>eu.o3c.o3e.dpacs.services.PatientHistoryServices</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PatientHistoryServices</servlet-name>
    <servlet-class>eu.o3c.o3e.dpacs.services.PatientHistoryServices</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XmlStudyDescription</servlet-name>
    <servlet-class>eu.o3c.o3e.dpacs.services.XmlStudyDescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>*.toServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/wado</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DicomDirWriter</servlet-name>
    <url-pattern>/DicomDir</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchService</servlet-name>
    <url-pattern>/getInstances</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientInfoServices</servlet-name>
    <url-pattern>/getPatientInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientHistoryServices</servlet-name>
    <url-pattern>/getPatientHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XmlStudyDescription</servlet-name>
    <url-pattern>/getStudyXml</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>